<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.zh"/>

    <!--ActiveMQ ConnectionFactory-->
    <bean id="activeMQConnevtionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://WIN10-711141915:61616"/>
    </bean>

    <!--spring JMS connectiveFactory-->
    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="targetConnectionFactory" ref="activeMQConnectionFactory"/>
    </bean>

    <!--配置JmsTemplate-->
    <bean id="jmsTempLate" class="org.springframework.jms.core.JmsTemplate">
        <!--配置链接工厂-->
        <property name="connectionFactory" ref="connectionFactory"/>
        <!--选配：目的地名称 如果没有配置，则在发送时指定-->
        <property name="defaultDestinationName" value="Spring-Queue"/>

    </bean>

</beans>